src/flows/Fp_One_Bundeled_energy_and_UCB_POR1-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND(5 OR 6)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Retail_Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Retail_Quote__r.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Retail_Quote__r.Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FP-ONE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Bill_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rate Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Bill_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Fp-ONE</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND(5 OR 6)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Retail_Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Retail_Quote__r.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Retail_Quote__r.Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FP-ONE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Bill_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DUAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Bill_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SBO/ESP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>FP-ONE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND(5 OR 6)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Retail_Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Retail_Quote__r.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Retail_Quote__r.Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FP-ONE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Bill_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rate Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Bill_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill Ready</stringValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND(5 OR 6)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Retail_Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Retail_Quote__r.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Retail_Quote__r.Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FP-ONE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Bill_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DUAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Bill_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SBO/ESP</stringValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>This process is used for creating contract term where Bill method is Bill READY and Rate READY - 8/9/2017</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF((ISBLANK([Contract].UCB_POR__c )), 0,[Contract].UCB_POR__c/1000)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_2283782821</name>
        <dataType>Currency</dataType>
        <expression>IF((ISBLANK({!myVariable_current.UCB_POR__c} )), 0,{!myVariable_current.UCB_POR__c}/1000)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF((ISBLANK([Contract].Energy__c )),0, [Contract].Energy__c/1000) +
IF((ISBLANK([Contract].Basis__c )),0,[Contract].Basis__c/1000)+
IF((ISBLANK([Contract].Shaping__c)),0,[Contract].Shaping__c/1000)+
IF((ISBLANK([Contract].Swing__c)),0,[Contract].Swing__c/1000)+
IF((ISBLANK([Contract].Contract_Margin__c)),0,[Contract].Contract_Margin__c/1000)+
 IF((ISBLANK([Contract].Contract_Index_Margin__c)), 0,[Contract].Contract_Index_Margin__c/1000)+ 
IF((ISBLANK([Contract].Capacity__c )), 0,[Contract].Capacity__c/1000)+
IF((ISBLANK([Contract].Utility_Loss__c )), 0, [Contract].Utility_Loss__c/1000)+
IF((ISBLANK([Contract].ISO_NITS__c )), 0, [Contract].ISO_NITS__c/1000)+
IF((ISBLANK([Contract].ISO_Other_Trans__c )), 0,[Contract].ISO_Other_Trans__c/1000)+
IF((ISBLANK([Contract].ISO_ARR__c)), 0,[Contract].ISO_ARR__c/1000) +IF((ISBLANK([Contract].ISO_Ancillaries__c )),0,[Contract].ISO_Ancillaries__c/1000)+
IF((ISBLANK([Contract].ISO_Losses__c)), 0,[Contract].ISO_Losses__c/1000)  + IF((ISBLANK([Contract].ISO_Op_Reserve_RSG__c )), 0,[Contract].ISO_Op_Reserve_RSG__c/1000) + IF((ISBLANK([Contract].ISO_Cost_Recovery__c)), 0,[Contract].ISO_Cost_Recovery__c/1000)  + IF((ISBLANK([Contract].ISO_Inadvertant__c )), 0,[Contract].ISO_Inadvertant__c/1000) +IF((ISBLANK( [Contract].ISO_SSR_RMR__c )), 0,[Contract].ISO_SSR_RMR__c/1000 )+ IF((ISBLANK( [Contract].ISO_Admin__c )), 0,[Contract].ISO_Admin__c/1000 )+IF((ISBLANK( [Contract].ISO_FTR__c)), 0, [Contract].ISO_FTR__c/1000)+IF((ISBLANK([Contract].RPS__c )), 0, [Contract].RPS__c/1000 )+IF((ISBLANK([Contract].Vol_Rec__c )), 0, [Contract].Vol_Rec__c/1000  )+
IF((ISBLANK([Contract].Contract_Broker_Fee__c)), 0,[Contract].Contract_Broker_Fee__c/1000 )+ 
IF((ISBLANK([Contract].Contract_Municipality_Fee__c)),0,[Contract].Contract_Municipality_Fee__c/1000  )+
IF((ISBLANK([Contract].Contract_Marketing_Cost__c)), 0,[Contract].Contract_Marketing_Cost__c/1000)+
IF((ISBLANK([Contract].Default_Risk__c  )), 0,[Contract].Default_Risk__c/1000)+
IF((ISBLANK([Contract].Holding_Cost__c )), 0,[Contract].Holding_Cost__c/1000)+
IF((ISBLANK([Contract].Tax__c )), 0,[Contract].Tax__c/1000)+
IF((ISBLANK([Contract].UCB_POR__c )), 0,[Contract].UCB_POR__c/1000)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_8474754877</name>
        <dataType>Currency</dataType>
        <expression>IF((ISBLANK({!myVariable_current.Energy__c} )),0, {!myVariable_current.Energy__c}/1000) +
IF((ISBLANK({!myVariable_current.Basis__c} )),0,{!myVariable_current.Basis__c}/1000)+
IF((ISBLANK({!myVariable_current.Shaping__c})),0,{!myVariable_current.Shaping__c}/1000)+
IF((ISBLANK({!myVariable_current.Swing__c})),0,{!myVariable_current.Swing__c}/1000)+
IF((ISBLANK({!myVariable_current.Contract_Margin__c})),0,{!myVariable_current.Contract_Margin__c}/1000)+
 IF((ISBLANK({!myVariable_current.Contract_Index_Margin__c})), 0,{!myVariable_current.Contract_Index_Margin__c}/1000)+ 
IF((ISBLANK({!myVariable_current.Capacity__c} )), 0,{!myVariable_current.Capacity__c}/1000)+
IF((ISBLANK({!myVariable_current.Utility_Loss__c} )), 0, {!myVariable_current.Utility_Loss__c}/1000)+
IF((ISBLANK({!myVariable_current.ISO_NITS__c} )), 0, {!myVariable_current.ISO_NITS__c}/1000)+
IF((ISBLANK({!myVariable_current.ISO_Other_Trans__c} )), 0,{!myVariable_current.ISO_Other_Trans__c}/1000)+
IF((ISBLANK({!myVariable_current.ISO_ARR__c})), 0,{!myVariable_current.ISO_ARR__c}/1000) +IF((ISBLANK({!myVariable_current.ISO_Ancillaries__c} )),0,{!myVariable_current.ISO_Ancillaries__c}/1000)+
IF((ISBLANK({!myVariable_current.ISO_Losses__c})), 0,{!myVariable_current.ISO_Losses__c}/1000)  + IF((ISBLANK({!myVariable_current.ISO_Op_Reserve_RSG__c} )), 0,{!myVariable_current.ISO_Op_Reserve_RSG__c}/1000) + IF((ISBLANK({!myVariable_current.ISO_Cost_Recovery__c})), 0,{!myVariable_current.ISO_Cost_Recovery__c}/1000)  + IF((ISBLANK({!myVariable_current.ISO_Inadvertant__c} )), 0,{!myVariable_current.ISO_Inadvertant__c}/1000) +IF((ISBLANK( {!myVariable_current.ISO_SSR_RMR__c} )), 0,{!myVariable_current.ISO_SSR_RMR__c}/1000 )+ IF((ISBLANK( {!myVariable_current.ISO_Admin__c} )), 0,{!myVariable_current.ISO_Admin__c}/1000 )+IF((ISBLANK( {!myVariable_current.ISO_FTR__c})), 0, {!myVariable_current.ISO_FTR__c}/1000)+IF((ISBLANK({!myVariable_current.RPS__c} )), 0, {!myVariable_current.RPS__c}/1000 )+IF((ISBLANK({!myVariable_current.Vol_Rec__c} )), 0, {!myVariable_current.Vol_Rec__c}/1000  )+
IF((ISBLANK({!myVariable_current.Contract_Broker_Fee__c})), 0,{!myVariable_current.Contract_Broker_Fee__c}/1000 )+ 
IF((ISBLANK({!myVariable_current.Contract_Municipality_Fee__c})),0,{!myVariable_current.Contract_Municipality_Fee__c}/1000  )+
IF((ISBLANK({!myVariable_current.Contract_Marketing_Cost__c})), 0,{!myVariable_current.Contract_Marketing_Cost__c}/1000)+
IF((ISBLANK({!myVariable_current.Default_Risk__c}  )), 0,{!myVariable_current.Default_Risk__c}/1000)+
IF((ISBLANK({!myVariable_current.Holding_Cost__c} )), 0,{!myVariable_current.Holding_Cost__c}/1000)+
IF((ISBLANK({!myVariable_current.Tax__c} )), 0,{!myVariable_current.Tax__c}/1000)+
IF((ISBLANK({!myVariable_current.UCB_POR__c} )), 0,{!myVariable_current.UCB_POR__c}/1000)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF((ISBLANK([Contract].Energy__c )),0, [Contract].Energy__c/1000) +
IF((ISBLANK([Contract].Basis__c )),0,[Contract].Basis__c/1000)+
IF((ISBLANK([Contract].Shaping__c)),0,[Contract].Shaping__c/1000)+
IF((ISBLANK([Contract].Swing__c)),0,[Contract].Swing__c/1000)+
IF((ISBLANK([Contract].Contract_Margin__c)),0,[Contract].Contract_Margin__c/1000)+
 IF((ISBLANK([Contract].Contract_Index_Margin__c)), 0,[Contract].Contract_Index_Margin__c/1000)+ 
IF((ISBLANK([Contract].Capacity__c )), 0,[Contract].Capacity__c/1000)+
IF((ISBLANK([Contract].Utility_Loss__c )), 0, [Contract].Utility_Loss__c/1000)+
IF((ISBLANK([Contract].ISO_NITS__c )), 0, [Contract].ISO_NITS__c/1000)+
IF((ISBLANK([Contract].ISO_Other_Trans__c )), 0,[Contract].ISO_Other_Trans__c/1000)+
IF((ISBLANK([Contract].ISO_ARR__c)), 0,[Contract].ISO_ARR__c/1000) +IF((ISBLANK([Contract].ISO_Ancillaries__c )),0,[Contract].ISO_Ancillaries__c/1000)+
IF((ISBLANK([Contract].ISO_Losses__c)), 0,[Contract].ISO_Losses__c/1000)  + IF((ISBLANK([Contract].ISO_Op_Reserve_RSG__c )), 0,[Contract].ISO_Op_Reserve_RSG__c/1000) + IF((ISBLANK([Contract].ISO_Cost_Recovery__c)), 0,[Contract].ISO_Cost_Recovery__c/1000)  + IF((ISBLANK([Contract].ISO_Inadvertant__c )), 0,[Contract].ISO_Inadvertant__c/1000) +IF((ISBLANK( [Contract].ISO_SSR_RMR__c )), 0,[Contract].ISO_SSR_RMR__c/1000 )+ IF((ISBLANK( [Contract].ISO_Admin__c )), 0,[Contract].ISO_Admin__c/1000 )+IF((ISBLANK( [Contract].ISO_FTR__c)), 0, [Contract].ISO_FTR__c/1000)+IF((ISBLANK([Contract].RPS__c )), 0, [Contract].RPS__c/1000 )+IF((ISBLANK([Contract].Vol_Rec__c )), 0, [Contract].Vol_Rec__c/1000  )+
IF((ISBLANK([Contract].Contract_Broker_Fee__c)), 0,[Contract].Contract_Broker_Fee__c/1000 )+ 
IF((ISBLANK([Contract].Contract_Municipality_Fee__c)),0,[Contract].Contract_Municipality_Fee__c/1000  )+
IF((ISBLANK([Contract].Contract_Marketing_Cost__c)), 0,[Contract].Contract_Marketing_Cost__c/1000)+
IF((ISBLANK([Contract].Default_Risk__c  )), 0,[Contract].Default_Risk__c/1000)+
IF((ISBLANK([Contract].Holding_Cost__c )), 0,[Contract].Holding_Cost__c/1000)+
IF((ISBLANK([Contract].Tax__c )), 0,[Contract].Tax__c/1000)+
IF((ISBLANK([Contract].UCB_POR__c )), 0,[Contract].UCB_POR__c/1000)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_5064443702</name>
        <dataType>Currency</dataType>
        <expression>IF((ISBLANK({!myVariable_current.Energy__c} )),0, {!myVariable_current.Energy__c}/1000) +
IF((ISBLANK({!myVariable_current.Basis__c} )),0,{!myVariable_current.Basis__c}/1000)+
IF((ISBLANK({!myVariable_current.Shaping__c})),0,{!myVariable_current.Shaping__c}/1000)+
IF((ISBLANK({!myVariable_current.Swing__c})),0,{!myVariable_current.Swing__c}/1000)+
IF((ISBLANK({!myVariable_current.Contract_Margin__c})),0,{!myVariable_current.Contract_Margin__c}/1000)+
 IF((ISBLANK({!myVariable_current.Contract_Index_Margin__c})), 0,{!myVariable_current.Contract_Index_Margin__c}/1000)+ 
IF((ISBLANK({!myVariable_current.Capacity__c} )), 0,{!myVariable_current.Capacity__c}/1000)+
IF((ISBLANK({!myVariable_current.Utility_Loss__c} )), 0, {!myVariable_current.Utility_Loss__c}/1000)+
IF((ISBLANK({!myVariable_current.ISO_NITS__c} )), 0, {!myVariable_current.ISO_NITS__c}/1000)+
IF((ISBLANK({!myVariable_current.ISO_Other_Trans__c} )), 0,{!myVariable_current.ISO_Other_Trans__c}/1000)+
IF((ISBLANK({!myVariable_current.ISO_ARR__c})), 0,{!myVariable_current.ISO_ARR__c}/1000) +IF((ISBLANK({!myVariable_current.ISO_Ancillaries__c} )),0,{!myVariable_current.ISO_Ancillaries__c}/1000)+
IF((ISBLANK({!myVariable_current.ISO_Losses__c})), 0,{!myVariable_current.ISO_Losses__c}/1000)  + IF((ISBLANK({!myVariable_current.ISO_Op_Reserve_RSG__c} )), 0,{!myVariable_current.ISO_Op_Reserve_RSG__c}/1000) + IF((ISBLANK({!myVariable_current.ISO_Cost_Recovery__c})), 0,{!myVariable_current.ISO_Cost_Recovery__c}/1000)  + IF((ISBLANK({!myVariable_current.ISO_Inadvertant__c} )), 0,{!myVariable_current.ISO_Inadvertant__c}/1000) +IF((ISBLANK( {!myVariable_current.ISO_SSR_RMR__c} )), 0,{!myVariable_current.ISO_SSR_RMR__c}/1000 )+ IF((ISBLANK( {!myVariable_current.ISO_Admin__c} )), 0,{!myVariable_current.ISO_Admin__c}/1000 )+IF((ISBLANK( {!myVariable_current.ISO_FTR__c})), 0, {!myVariable_current.ISO_FTR__c}/1000)+IF((ISBLANK({!myVariable_current.RPS__c} )), 0, {!myVariable_current.RPS__c}/1000 )+IF((ISBLANK({!myVariable_current.Vol_Rec__c} )), 0, {!myVariable_current.Vol_Rec__c}/1000  )+
IF((ISBLANK({!myVariable_current.Contract_Broker_Fee__c})), 0,{!myVariable_current.Contract_Broker_Fee__c}/1000 )+ 
IF((ISBLANK({!myVariable_current.Contract_Municipality_Fee__c})),0,{!myVariable_current.Contract_Municipality_Fee__c}/1000  )+
IF((ISBLANK({!myVariable_current.Contract_Marketing_Cost__c})), 0,{!myVariable_current.Contract_Marketing_Cost__c}/1000)+
IF((ISBLANK({!myVariable_current.Default_Risk__c}  )), 0,{!myVariable_current.Default_Risk__c}/1000)+
IF((ISBLANK({!myVariable_current.Holding_Cost__c} )), 0,{!myVariable_current.Holding_Cost__c}/1000)+
IF((ISBLANK({!myVariable_current.Tax__c} )), 0,{!myVariable_current.Tax__c}/1000)+
IF((ISBLANK({!myVariable_current.UCB_POR__c} )), 0,{!myVariable_current.UCB_POR__c}/1000)</expression>
        <scale>18</scale>
    </formulas>
    <interviewLabel>Fp_One_Bundeled_energy_and_UCB_POR1-2_InterviewLabel</interviewLabel>
    <label>Fp-One  Bundeled energy and UCB-POR1</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Contract</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>BUNDLED ENERGY</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contract Term Value</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Contract_Term_Value__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_8474754877</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Contract__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Term Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Term_Category__c</field>
            <value>
                <stringValue>STANDARD_CHARGE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Term Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Term_Type__c</field>
            <value>
                <stringValue>BUNDLED_ENERGY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Value String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Value_String__c</field>
            <value>
                <stringValue>KWH</stringValue>
            </value>
        </inputAssignments>
        <object>Contract_Term__c</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A2</name>
        <label>UCBPOR_DISCOUNT</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contract Term Value</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Contract_Term_Value__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_2283782821</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Contract__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Term Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Term_Category__c</field>
            <value>
                <stringValue>STANDARD_BHVONLY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Term Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Term_Type__c</field>
            <value>
                <stringValue>UCBPOR_DISCOUNT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Value String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Value_String__c</field>
            <value>
                <stringValue>KWH</stringValue>
            </value>
        </inputAssignments>
        <object>Contract_Term__c</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_5_A1</name>
        <label>BUNDLED ENERGY</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contract Term Value</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Contract_Term_Value__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_5064443702</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Contract__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Term Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Term_Category__c</field>
            <value>
                <stringValue>STANDARD_CHARGE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Term Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Term_Type__c</field>
            <value>
                <stringValue>BUNDLED_ENERGY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Value String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Value_String__c</field>
            <value>
                <stringValue>KWH</stringValue>
            </value>
        </inputAssignments>
        <object>Contract_Term__c</object>
    </recordCreates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
